<div class="container">
  <%@reservations.each do|reservation| %>
  <br>
  <h2>Reservation <%= @sum += 1%></h1>
  <hr class="line">
  <h5>Brand: <%= reservation.car.brand %></h5>
  <h5>Price: <%= (reservation.car.price) * ((reservation.end_time.to_date - reservation.start_time.to_date).to_i)%> Dirhams</h5>
  <h5>From: <%= reservation.start_time %></h5>
  <h5>To: <%= reservation.end_time %></h5>
  <%end  %>
</div>
