<div data-controller="popup">
  <div class="contain" data-popup-target="boxe">
    <div class="first">
      <div class="info-car">
        <img src="<%=@car.url_image%>" alt="">
        <h5>Brand: <%= @car.brand %></h5>
        <h5>Description: <%= @car.description %></h5>
        <h5>Price: <%= (@car.price)* @duration %> Dirhams</h5>
      </div>
    </div>
    <div class="reservation">
        <h2>Reservation for : </h2> <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
        <hr>
        <h5>From : <%= @reservation.start_time %></h5>
        <h5>To: <%= @reservation.end_time %></h5>
    </div>
  </div>
  <%= button_to "Delete", reservation_path(@reservation), method: :delete, form: { data: { turbo: true, turbo_confirm: "Are you sure?" } }, class:"delete-resa" %>
  <div class="confirm" data-popup-target="button">
    <button data-action="click->popup#display">Confirm Your Reservation</button>
  </div>

  <div class="popup" data-popup-target="pop">
    <img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemok_103757.png" >
    <h2>Thank you</h2>
    <p>The payment will take place on the spot.</p>
    <p>For more information contact us 06000000.</p>
    <%= link_to "OK", cars_path, class:"style-btn" %>
  </div>
</div>
