<div class="box">
  <div class="first-box">
    <img src="<%=@car.url_image%>" alt="">
    <h5><%= @user.first_name %> <%= @user.last_name %></h5>
    <h5>Brand: <%= @car.brand %></h5>
  </div>
  <div class="second-box">
    <div  class="small-box">
      <p>Price: </p>
      <p><%= @car.price %> dh/day</p>
    </div>
    <hr>
    <div class="small-box" >
      <p>Color:</p>
      <p><%= @car.color %></p>
    </div>
    <hr>
    <div class="small-box">
      <p>Mileage: </p>
      <p><%= @car.mileage %></p>
    </div>
    <hr>
    <div class="small-box">
      <p>Description: <%= @car.description %></p>
    </div>
  </div>
</div>

<%# <button class="booking">Book now</button> %>
<%= button_to "Delete", car_path(@car), method: :delete, form: { data: { turbo: true, turbo_confirm: "Are you sure?" } }, class:"delete-btn" %>
<%= link_to "Edit",edit_car_path(@car), class:"update-btn"%>
<div class="big-div" >
  <div class="div-reservation">
    <%= simple_form_for([@car, @reservation]) do |f| %>
    <div class="row">

        <%= f.input :start_time, as: :string,
                    wrapper_html: { class: "mb-4" },
                    label_html: { class: "form-label text-secondary fw-bold" },
                    input_html: { data: { controller: "flatpickr" } } %>


        <%= f.input :end_time, as: :string,
                    wrapper_html: { class: "mb-4" },
                    label_html: { class: "form-label text-secondary fw-bold" },
                    input_html: { data: { controller: "flatpickr" } } %>
        <%= f.submit "Book now", class:"home-submit" %>
    </div>
    <% end %>
  </div>
</div>
